{% extends 'pageWrapper.html' %}
{% set show_footer = True %}

{% block head %}
    <title>Archipelago</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="styles/landing.css") }}" />
{% endblock %}

{% block body %}
    {% include 'header/oceanIslandHeader.html' %}
    <div id="landing-wrapper">
        <div id="landing-header">
            <h1>ap-th3</h1>
            <h4>Archipelago with a few custom games</h4>
        </div>
        <div id="landing" class="grass-island">
            <div id="landing-body">
                <p id="first-line">Welcome to Archipelago!</p>
                <p>
                    This is an instance of <a href="https://archipelago.gg">Archipelago</a> with a few more games added. The new games are either APs I'm contributing to (<a href="https://github.com/nhyldmar/fez-ap">FEZ</a>, <a href="https://github.com/KitLemonfoot/ArchipelagoMIUU">Marble It Up! Ultra</a>), or are games that me or my friends will often play while I'm doing APs, sometimes on <a href="https://twitch.tv/thearst3rd">my Twitch stream</a>.
                </p>
                <p>
                    For more information, check out the original <a href="https://archipelago.gg">Archipelago</a> and check out the <a href="https://github.com/ArchipelagoMW/Archipelago">source code</a>!
                </p>
                <p>
                    <a href="{{ url_for("stats") }}">{{ seeds }}</a>
                    games were generated and
                    <a href="{{ url_for("stats") }}">{{ rooms }}</a>
                    were hosted in the last 7 days.
                </p>
                <p><small><i>Why the bland looking assets?</i> Per the Archipelago WebHost <a href="https://github.com/ArchipelagoMW/Archipelago/tree/0.6.7/WebHostLib#asset-license">asset license</a>, the images are proprietary to archipelago.gg and are not covered by the overall <a href="https://github.com/ArchipelagoMW/Archipelago/blob/0.6.7/LICENSE">MIT License</a>. Thus, I replaced them with <a href="https://github.com/thearst3rd/Archipelago/tree/ap-th3/WebHostLib">simple alternatives</a> I quickly made.</small></p>
            </div>
        </div>
    </div>
{% endblock %}
